*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: #333;
}

li{
    list-style: none;
}

img{
    vertical-align: top;
}

#container{
    width: 100%;
    height: 920px;
}


#wrap{
    width: 100%;
    height: 800px;
    display: flex;
    position: relative;
}

#header{
    width: 200px;
    height: 800px;
}

#header::after{
    content: '';
    width: 0;
    height: 158px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 1;
    
    /* display: none; */
    transition: all 0.3s;
}
#header.on::after{
    width: calc(100% - 200px);
}

#header .logo{
    width: 200px;
    height: 100px;
    background-color: #ddd;
}
#header .nav{
    width: 200px;
    height: 700px;
    z-index: 1000;
}

.nav > ul > li{
    position: relative;
}
.nav > ul > li > a{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    background-color: #c7c7c7;
}
.nav > ul > li > a:hover{
    background-color: #ffc5c5;
}
.nav > ul > li > ul{
    /* display: none; */
    position: absolute;
    width: 700px;
    right: -700px;
    top:0;
    z-index: 1000;
    display: none;
}
.nav > ul > li > ul > li{
    /* display: inline; */
    display: inline;
}
.nav > ul > li > ul > li > a{
    display: inline-block;
    width: 100px;
    padding: 10px;
    color: #fff;
}
.nav > ul > li > ul > li > a:hover{
    background-color: #eee;
    color: #333;
}

#main{
    width: calc(100% - 200px);
    height: 800px;
}

#slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#slider .sliderWrap{
    width: 100%;
    height: 1600px;
    /* display: flex; */
}
#slider .sliderWrap .slider{
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slider .sliderWrap .slider.s1{
    background-image: url(../images/s1.jpg);
}
#slider .sliderWrap .slider.s2{
    background-image: url(../images/s2.jpg);
}
#slider .sliderWrap .slider.s3{
    background-image: url(../images/s3.jpg);
}


#link{
    width: 100%;
    height: 150px;
    background-color: #eee;
}

#contents{
    width: 100%;
    height: 250px;
}
#contents .tab > ul{
    display: flex;
}
#contents .tab > ul > li > a{
    padding: 10px;
    display: inline-block;
}
#contents .tab > ul > li > a.active{
    color: #ff6d6d;
}


.notice > ul{
    padding: 10px;
}
.notice > ul > li{
    display: flex;
    line-height: 1.8;
}
.notice > ul > li > a{
    width: 75%;
}
.notice > ul > li > span{
    width: 25%;
    text-align: right;
}


.gallery > ul{
    padding: 10px;
    display: flex;
}
.gallery > ul > li > img{
    border: 2px solid #ff6d6d;
}


#footer{
    width: 100%;
    height: 120px;
    background-color: #ccc;
}