*{
    margin: 0;
    padding: 0;
}

.container{
    width:1200px;
    margin: 0 auto;
}


/* header */

#header{
    width:100%;
    display: flex;
}

#header .logo{
    width: 20%;
    height: 100px;
    background-color: #727272;
}

#header .nav{
    width: 80%;
    height: 100px;
    background-color: #a6a6a6;
}




/* slider */

#slider{
    width:100%;
    height: 300px;
}



/* contents */
#contents{
    width:100%;
    display: flex;
}

#contents .content1{
    width:33.3333%;
    height: 200px;
    background-color: #cccccc;
}

#contents .content2{
    width:33.3333%;
    height: 200px;
    background-color: #c1c1c1;
}

#contents .content3{
    width:33.3333%;
    height: 200px;
    background-color: #acacac;
}



/* footer */
#footer{
    width:100%;
    display: flex;
}

#footer .footer1{
    width:20%;
    height: 100px;
    background-color: #e5e5e5;
}

#footer .footer2{
    width:60%;
    height: 100px;
    background-color: #cfcfcf;
}

#footer .footer3{
    width:20%;
    height: 100px;
    background-color: #b5b5b5;
}